<div class="py-3">
  <!--名前-->
  <div class="ml-4">
    <h4><%= link_to customer.name, customer_path(customer.id), class:"text-body" %></h4>
  </div>
  <!--名前以外-->
  <div class="row mx-3 my-3">
    <!--プロフィール画像-->
    <div class="col-md-3 text-center">
      <%= link_to(customer_path(customer.id)) do %>
        <%= image_tag customer.get_profile_image(150,150) %>
      <% end %>
    </div>
    <!--名前、画像以外-->
    <div class="col-md-3">
      <div class="my-2">
        <!--管理者ログイン時-->
        <% if current_admin %>
          <!--プロフィール編集ボタン-->
          <% unless current_page?(edit_admin_customer_path(customer)) %>
            <%= link_to edit_admin_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
          <!--利用停止/再開ボタン-->
          <%= render 'admin/is_stop_statuses/is-stop', customer: customer %>
        <!--顧客ログイン時-->
        <% elsif customer == current_customer %>
          <% unless current_page?(edit_customer_path(customer)) %>
            <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% end %>
        <% elsif current_customer.following?(customer) %>
          <!--そのユーザをフォローしている時-->
          <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete, class: "btn btn-info btn-block" %>
        <% else %>
          <!--そのユーザをフォローしていない時-->
          <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, class: "btn btn-success btn-block" %>
        <% end %>
      </div>
      <!--フォローフォロワー人数表示-->
      <table class="mx-auto">
        <!--フォロー-->
        <tr>
          <td style="width: 100px">フォロー</td>
          <td><%= link_to customer.followings.count, customer_followings_path(customer.id) %></td>
        </tr>
        <!--フォロワー-->
        <tr>
          <td>フォロワー</td>
          <td><%= link_to customer.followers.count, customer_followers_path(customer.id) %></td>
        </tr>
      </table>
    </div>
    <!--自己紹介文-->
    <div class="col-md-6">
      <%= customer.introduction %>
    </div>
  </div>
</div>
