<div>
  <!--名前-->
  <div class="ml-3">
    <h4><%= customer.name %></h4>
  </div>
  <!--名前以外-->
  <div class="row mx-3 my-3">
    <!--プロフィール画像-->
    <div class="col-md-6 text-center">
      <%= image_tag customer.get_profile_image(140,140) %>
    </div>
    <!--フォローフォロワー人数表示-->
    <div class="col-md-6 my-auto">
      <table class="mx-auto">
        <!--フォロー-->
        <tr>
          <td style="width: 100px">フォロー</td>
          <td><%= link_to customer.followings.count, customer_followings_path(customer.id) %></td>
        </tr>
        <!--フォロワー-->
        <tr>
          <td>フォロワー</td>
          <td><%= link_to customer.followers.count, customer_followers_path(customer.id) %></td>
        </tr>
      </table>
      <!--プロフィール関連ボタン-->
      <div class="my-2">
        <!--管理者ログイン時-->
        <% if current_admin %>
          <!--プロフィール編集ボタン-->
          <%= link_to edit_admin_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
          <!--利用停止/再開ボタン-->
          <%= render 'admin/is_stop_statuses/is-stop', customer: customer %>
        <!--顧客ログイン時-->
        <% elsif current_customer %>
          <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <!--名前、画像以外-->
    <div class="col-md-12">
      
    </div>
    <!--自己紹介文-->
    <div class="col-md-12 mt-3">
      <%= customer.introduction %>
    </div>
  </div>
</div>
