<!--ヘッダー-->
<header class="sticky-top bg-white" style="border-bottom: 5px solid #d8d8d8;">
  <div style="height: 80px">
    <!--空白-->
  </div>
</header>

<h2 class="text-center my-4">ログイン</h2>

<div class="row">
  <div class="col-md-10 text-center mx-auto">
    <div class="form-body">
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
          </div>
          
          <%= f.email_field :email, autofocus: true, placeholder: "email", class:"form-control" %>
        </div>
        
        <div class="input-group my-2">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>
          
          <%= f.password_field :password, placeholder: "password", class:"form-control" %>
        </div>
        
        <% if devise_mapping.rememberable? %>
          <div class="input-group my-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        
        <div class="actions">
          <%= f.submit "Log in", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "admin/shared/links" %>
