<!--ヘッダー-->
<%= render 'layouts/header' %>

<!--メインの内容-->
<div class="row">
  <div class="col-md-1">
    
  </div>
  <div class="col-md-10 px-0">
    <!--アプリケーション名とトップメッセージ-->
    <div class="row mt-5 text-center">
      <!--アプリケーション名-->
      <div class="col-md-4">
        <h1>
          <i class="fas fa-gamepad fa-lg text-secondary"></i>
        </h1>
      </div>
      <div class="col-md-4">
        <h1>iGamer</h1>
      </div>
      <div class="col-md-4">
        <h1>
          <i class="fas fa-gamepad fa-lg text-secondary"></i>
        </h1>
      </div>
      
      <!--トップメッセージ-->
      <div class="col-md-12 my-3">
        <h5>iGamerは一緒にゲームをする仲間を募集したり<br>
        ゲームに関する意見や感想を投稿したりすることができるSNSです。</h5>
        <h5>みんなはどんなゲームをしていて、どんな楽しみ方をしているのでしょうか？</h5>
      </div>
    </div>
    
    <div class="text-center mx-4" style="background-color: #cfcfcf;">
      <%= image_tag('モノクロコントローラ_px指定.jpg') %>
      <%= image_tag('モノクロコントローラ_px指定.jpg') %>
      <%= image_tag('モノクロコントローラ_px指定.jpg') %>
    </div>
    
    <!--ゲストログイン案内-->
    <div class="mt-3 text-center">
      <h5>使ってみる</h5>
      <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, 
                                    class:"btn btn-lg text-dark border border-secondary rounded",
                                    style:"width: 200px;" %>
    </div>
  </div>
  <div class="col-md-1">
    
  </div>
</div>

