<div class="py-3">
  <!--名前-->
  <div class="ml-4">
    <h4><%= link_to customer.name, admin_customer_path(customer.id), class:"text-body" %></h4>
  </div>
  <!--名前以外-->
  <div class="row mx-3 my-3">
    <!--プロフィール画像-->
    <div class="col-md-3 text-center">
      <%= link_to(admin_customer_path(customer.id)) do %>
        <%= image_tag customer.get_profile_image(150,150) %>
      <% end %>
    </div>
    <!--名前、画像以外-->
    <div class="col-md-3">
      <div class="my-2">
        <!--プロフィール編集ボタン-->
        <% unless current_page?(edit_admin_customer_path(customer)) %>
          <%= link_to edit_admin_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
        <!--利用停止/再開ボタン-->
        <%= render 'admin/is_stop_statuses/is-stop', customer: customer %>
      </div>
      <!--フォローフォロワー人数表示-->
      <table class="mx-auto">
        <!--フォロー-->
        <tr>
          <td style="width: 100px">フォロー</td>
          <td><%= customer.followings.count %></td>
        </tr>
        <!--フォロワー-->
        <tr>
          <td>フォロワー</td>
          <td><%= customer.followers.count %></td>
        </tr>
      </table>
    </div>
    <!--自己紹介文-->
    <div class="col-md-6">
      <%= customer.introduction %>
    </div>
  </div>
</div>
