<% post.post_comments.each do |post_comment| %>
  <div class="card mt-3">
    <!--管理者ログイン時の表示内容-->
    <% if current_admin %>
      <div class="row">
        <!--投稿者のプロフィール画像-->
        <div class="col-md-3 text-right mt-2">
          <%= link_to(admin_customer_path(post.customer_id)) do %>
            <%= image_tag post_comment.customer.get_profile_image(100,100) %><br>
          <% end %>
        </div>
        <!--投稿者の名前、投稿内容、アクション件数-->
        <div class="col-md-9 mt-4 pl-0 pr-4">
          <!--投稿者の名前-->
          <h6 class="mx-2">
            <%= link_to post_comment.customer.name, admin_customer_path(post_comment.customer_id), class:"text-body" %>
          </h6>
          <!--投稿内容-->
          <div class="row mx-auto">
            <div class="col-md-12">
              <h6 class="py-3" style="border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8;">
                <%= post_comment.post_comment %>
              </h6>
            </div>
            <div class="col-md-8">
              <p><%= post_comment.created_at.strftime('%Y/%m/%d　%H:%M') %></p>
            </div>
            <div class="col-md-4">
              <%= link_to '削除',
                          admin_post_post_comment_path(post_comment.post, post_comment),
                          method: :delete, data: { confirm: '本当に消しますか？' },
                          class: "btn btn-sm btn-danger"
              %>
            </div>
          </div>
        </div>
      </div>
    <!--顧客ログイン時の表示内容-->
    <% else %>
      <div class="row">
        <!--コメント者のプロフィール画像-->
        <div class="col-md-3 text-right mt-2 pr-1">
          <%= link_to(customer_path(post.customer_id)) do %>
            <%= image_tag post_comment.customer.get_profile_image(60,60) %><br>
          <% end %>
        </div>
        <!--コメント者の名前、コメント内容、アクションボタン-->
        <div class="col-md-9 mt-3 pl-0 pr-4">
          <!--コメント者の名前-->
          <h6 class="mx-2">
            <%= link_to post_comment.customer.name, customer_path(post_comment.customer_id), class:"text-body" %>
          </h6>
          <!--コメント内容-->
          <div class="row mx-auto">
            <div class="col-md-12">
              <h6 class="py-3" style="border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8;">
                <%= post_comment.post_comment %>
              </h6>
            </div>
            <div class="col-md-8">
              <p><%= post_comment.created_at.strftime('%Y/%m/%d　%H:%M') %></p>
            </div>
            <div class="col-md-4">
              <%= link_to 'Destroy',
                          post_post_comment_path(post_comment.post, post_comment),
                          method: :delete, data: { confirm: '本当に消しますか？' },
                          class: "btn btn-sm btn-danger"
              %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<!--該当する投稿の有無判定-->
<% unless post.post_comments.exists?(post.post_comments) %>
  <!--該当する投稿がないとき-->
  <h4 class="m-5">コメントはありません</h4>
<% end %>