
  
    
    
    
    <!--リンク一覧-->
    <div class="sticky-top" style="height: 850px">
        
        <!--ロゴ-->
        <div class="text-center pt-5" style="margin-bottom: 100px">
          <a class="text-dark" href="/">
            <%#= image_tag('logo-30x30.png') %>
            <h1>LOGO</h1>
          </a>
        </div>
        <% if customer_signed_in? %>
          <!--顧客ログイン時のヘッダー-->
          <div class="my-3">
            <%= link_to "マイページ", customer_path(current_customer), class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
          <div class="my-3">
            <%= link_to "いいね一覧", favorites_path(current_customer), class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
          <div class="my-3">
            <%= link_to "投稿一覧", posts_path, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
          <div class="my-3">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
        <% elsif admin_signed_in? %>
          <!--管理者ログイン時のヘッダー-->
          <div class="m-1">
            <%= link_to "ユーザ一覧", admin_customers_path, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
          <div class="m-1">
            <%= link_to "投稿一覧", admin_posts_path, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
          <div class="m-1">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
        <% else %>
          <!--ログアウト時のヘッダー-->
          <div class="m-1">
            <%= link_to "About", about_path, class: 'btn btn-lg nav-link text-center text-dark border border-secondary rounded' %>
          </div>
          <div class="m-1">
            <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
          <div class="m-1">
            <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-lg nav-link text-dark border border-secondary rounded' %>
          </div>
        <% end %>
        
      
    </div>
  
