<!DOCTYPE html>
<html>
  <head>
    <title>iGamer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    
    
    
    <main style="padding-bottom: 80px">
      <div class='container'>
        <div class='row'>
          <div class="col-2 sticky-top" style="border-right: 5px solid #d8d8d8">
            <%= render 'layouts/sidebar' %>
          </div>
          
          <div class='col-md-9'>
            <%= yield %>
          </div>
        </div>
        
        
        <!--右サイドバー-->
        
      </div>
    </main>
    <!--フッター-->
    <%= render 'layouts/footer' %>
  </body>
</html>
